<!DOCTYPE html>
 
{% load static %}

<html>
	 <head>
	     <title>Rango: About</title>
	     <link rel="stylesheet" href="{% static "css/base.css" %}" type="" media="screen" /> <!-- CSS -->
     	 <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
  </head>
 
   <body>
     <h1>Rango says...</h1>
     Here is the about page! <br />
     <h1> This tutorial has been put together by Steve Quinn<h1> 

     <a href="/rango/">Home</a> <br />
      <img src="{% static "images/rango2.jpg" %}"
			alt="Picture of Rango" /> <!-- New line --> 
			<img src="/media/cat.jpg" alt="Rango: A Green Lizard" />
			    
			</body>
 </html>